// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;800&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

.bg {
  background-color: $dark;
  background-image: url('/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.logo {
  font-size: 32px;
  font-weight: 800;
}

.wrapper {
  max-width: 768px;
  margin: 0px auto;
}

.rounded {
  border-radius: 28px;
}

.hoverable {
  cursor: pointer;
  box-shadow: none;
  transition: box-shadow 0.2s ease-in-out;
}

.hoverable:hover {
  box-shadow: 0px 0px 6px $primary; 
}

.bordered {
  border: solid 1px #111;
}

.bordered-top {
  border-top: solid 1px #111;
}

.bordered-left {
  border-left: solid 1px #111;
}

.bordered-right {
  border-right: solid 1px #111;
}

.bordered-bottom {
  border-bottom: solid 1px #111;
}

// typography

.toolbar-title {
  font-size: 21px;
  font-weight: 600;
  color: $grey-9;
}

.header-1 {
  font-size: 16px;
  font-weight: 600;
  color: $grey-9;
}

.header-2 {
  font-weight: 500;
  color: $grey-7;
  text-transform: uppercase;
}

.content-caption {
  font-weight: 500;
  font-size: 11px;
  color: $grey-7;
  text-transform: uppercase;
}